- var revealLocation = 'bower_components/reveal.js/'
doctype html
html(lang="en")

  include bower_components/RevealJade/shared/slide_mixins

  include bower_components/RevealJade/shared/head

  link(rel='external' type='text/html' src="bower_components/RevealJade/shared/head.jade")

  body
    .reveal
      .slides
        +titleSlide({title: "Be the Middleman",subtitle: "MVC ShmenVC"})
        +ulSlide("Where does it fit in", [
          "Don't need a database",
          "Host for cheap (free)",
          "Get back to your roots"
          ])
        +bigTitleSlide("Let's Talk about Rails")
          p Very popular web application framework with a tight focus on productivity
          p Its a little heavy for a simple website but it has so much great stuff baked in!
        +slide()
          p MMMMMMMM....
          img(src='assets/apple_pie.jpg')
        +slide()
          p This is a normal Slide. Just nest jade under me
        +slideGroup()
          +bigTitleSlide("First Slide in a group")
          +bigTitleSlide("Last Slide in a group")
        +slide
          :markdown
            # Markdown flavored Slide
            ## Thank you Jade

    include bower_components/RevealJade/shared/footer